@charset "UTF-8";

.produtos{
    width: 940px;
    margin: 0 auto;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    margin: 30px 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.produto-titulo{
  
    font-size: 25px;
    font-weight: bold;
    
}
.produtos li:hover{
    border: 2px solid chocolate;
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos li:active{
    border: 2px solid darkgreen;
}
